h1 {
    color: orchid;
}
*{
    border: solid;
}

.header{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}
.grid{
    background-color: #fbd603;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    background-color: rgb(57, 170, 12);
    display: flex;
    
    justify-content: flex-end;
}

p,h2{
    text-align: center;
    outline-style:initial;
}
body
{
  background-color: #808080;
  
}